*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #4C3D3D;
}

/* Typography */

h1{
    font-weight: bold;
    font-size: 25;
}
h2{
    background-color:grey;
    padding: 5px;
}
h3{
    color: white;
    text-transform: uppercase;
}
p{
    font-size: 14;
}

b{
    cursor: pointer;
}

/* App */

.App{
    display: flex;
    justify-content: center;
    background-color: #FFF7D4;
    width: 100vw;
    height: 100vh;
}

/* Login/Register pages */

.login-container,.register-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    height: 500px;
    margin: auto;
    background-color: #FFD95A;
}

.login-form,.register-form{
    margin: auto;
}

.login-form-item,.register-form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-side-container,.register-side-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: #C07F00;
}

.login-logo-img,.register-logo-img{
    height: 30%;
}

/* Task Viewer/Maker pages */
.taskviewer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 1100px;
    height: 500px;
    margin: auto;
    background-color: #FFD95A;
}

/* Components */
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 40%;
    background-color: black;
    padding: 5px;
    
}
.chevron-arrow-right {
    display: inline-block;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    width: 10px; height: 10px;
    animation: slide 1s forwards;
    opacity: 0 ; 
    transform: rotate(-45deg);
    transform: translateX(-100%);
  }
@keyframes slide{
    0%{
        transform: translateX(-100%);
        opacity: 0;
        transform: rotate(-45deg);
    }
    100% {transform: translateX(0%) ;
        opacity: 1 ; 
        transform: rotate(-45deg);}
}

.popup,.popup-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 400px;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 50%;
    max-width: 500px;
    background-color: white;
}
.enter-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    background-color: black;
    padding: 10px;
    
}
.close-button{
    position:absolute;
    top: 16px;
    right: 16px;

}
table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
    align-items: center;
    margin: auto;
}
 
th {
    border-bottom: 1px solid black;
}
 
td {
    text-align: center;
}