*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #4C3D3D;
}

/* Typography */

h1{
    font-weight: bold;
    font-size: 25;
}
h2{
    background-color:grey;
    padding: 5px;
}
h3{
    color: white;
    text-transform: uppercase;
}
p{
    font-size: 14;
}

b{
    cursor: pointer;
}

/* App */

.App{
    display: flex;
    justify-content: center;
    background-color: #FFF7D4;
    width: 100vw;
    height: 100vh;
}

/* Login/Register pages */

.login-container,.register-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    height: 500px;
    margin: auto;
    background-color: #FFD95A;
    box-shadow: 12px 12px 20px #4C3D3D;
}

.login-form,.register-form{
    margin: auto;
}

.login-form-item,.register-form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.form-input{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    border: none
}

.login-side-container,.register-side-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: #C07F00;
}

.login-logo-img,.register-logo-img{
    height: 30%;
}

/* Task Viewer/Maker pages */
.taskviewer-container, .taskcreator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: 500px;
    margin: auto;
    background-color: #FFD95A;
    box-shadow: 12px 12px 20px #4C3D3D;
}

/* Components */
.login-button-container,.register-button-container, .create-task-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
    border: none;
    width: 60%;
    padding: 0;
    margin: auto;
}

.login-button,.register-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

.chevron-arrow-right {
    display: inline-block;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width: 10px; height: 10px;
    animation: slide .5s forwards;
    opacity: 0 ; 
    transform: rotate(-45deg);
    transform: translateX(-100%);
  }

@keyframes slide{
    0%{
        transform: translateX(-100%);
        opacity: 0;
        transform: rotate(-45deg);
    }
    100% {transform: translateX(0%) ;
        opacity: 1 ; 
        transform: rotate(-45deg);}
}

.popup,.popup-progress {
    position: fixed;
    top: 200px;
    left: 500px;
    width: 500px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.popup-inner{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.enter-button, .create-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: black;
    padding: 10px;
    
}
.page-switch-button{
    position: absolute;
    display: flex;
    top: 100px;
    right: 210px;
    background-color: black;
    padding: 10px;


}
.close-button{
    position:absolute;
    top: 16px;
    right: 16px;

}
table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
    align-items: center;
    margin: auto;
}
 
th {
    border-bottom: 1px solid black;
}
 
td {
    text-align: center;
}

.task-creation-form{
    display: flex;
    flex-direction: row;
}