*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #4C3D3D;
}

/* Typography */

h1{
    font-weight: bold;
    font-size: 25;
}
h3{
    color: white;
    text-transform: uppercase;
}
p{
    font-size: 14;
}

b{
    cursor: pointer;
}

/* App */

.App{
    display: flex;
    justify-content: center;
    background-color: #FFF7D4;
    width: 100vw;
    height: 100vh;
}

/* Login/Register pages */

.login-container,.register-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    height: 500px;
    margin: auto;
    background-color: #FFD95A;
}

.login-form,.register-form{
    margin: auto;
}

.login-form-item,.register-form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-side-container,.register-side-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: #C07F00;
}

.login-logo-img,.register-logo-img{
    height: 30%;
}

/* Components */
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 40%;
    background-color: black;
    padding: 5px;
    
}
.chevron-arrow-right {
    display: inline-block;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    width: 10px; height: 10px;
    animation: slide 1s forwards;
    opacity: 0 ; 
    transform: rotate(-45deg);
    transform: translateX(-100%);
  }
@keyframes slide{
    0%{
        transform: translateX(-100%);
        opacity: 0;
        transform: rotate(-45deg);
    }
    100% {transform: translateX(0%) ;
        opacity: 1 ; 
        transform: rotate(-45deg);}
}